// Primary colors

$color-ligth-orange: #F39F1B; // 浅橙色
$color-dark-orange: #F77F11; // 深橙色

$color-black-1: #333333;
$color-black-2: #666666;
$color-black-3: #999999;
$color-black-4: #CCCCCC;

$color-white: #FFFFFF;
// Secondary colors
$color-1: #394F68;
$color-2: #4CBB87;
$color-3: #2C333D;
$color-4: #EEF7FA;
$color-5: #65AEE0;
$color-6: #B789C7;
$color-7: #D26759;
$color-8: #616E7D;
$color-9: #EE001D;

// fonts
$primary-font: sans-serif;